





/*******************************************************************************
 =svg styles
*******************************************************************************/
svg {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana;
  font-size: 24px;
  font-weight: 900;
  fill: #666;
  stroke: none;
}





/* markers
*******************************************************************************/
  #circle {
    fill: #fff;
  }




/* grid
*******************************************************************************/
#grid circle,
#grid line {
  fill: #ddd;
  stroke: #ddd;
}
#legends text {
  font-weight: bold;
}





/* chart-us
*******************************************************************************/
#chart-us {
  stroke: #069;
  stroke-width: 2px;
  fill: #069;
  font-weight: bolder;
}
  #chart-us text {
    fill: #069;
    stroke: none;
  }





/* chart-tasks
*******************************************************************************/
#chart-tasks {
  fill: #900;
  stroke: #900;
  text-anchor: end;
  font-weight: bolder;
}
  #chart-tasks text {
    fill: #900;
    stroke: none;
    dominant-baseline: hanging;
  }
  #chart-tasks text.pointsBurned {
    fill: #090;
    text-anchor: start;
    dominant-baseline: auto;
  }
  #chart-tasks polyline,
  #chart-tasks circle,
  #chart-tasks line {
    stroke-width: 4;
  }





/* chart-global
*******************************************************************************/
#chart-global {
  text-anchor: start;
  font-weight: bolder;
}
  #chart-global text {
    fill: #333;
    stroke: none;
    dominant-baseline: hanging;
  }
  #chart-global circle {
    stroke: #333;
  }





/* chart-local
*******************************************************************************/
#chart-local {
  text-anchor: start;
  font-weight: bolder;
}
  #chart-local text {
    fill: #ccc;
    stroke: none;
    dominant-baseline: hanging;
  }
  #chart-local line {
    stroke: #ccc;
  }
  #chart-local circle {
    fill: #ccc;
    stroke: #ccc;
  }
